.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 1em;
    margin-top: 0;
    border: 1px blue dotted;
    background-color: rgb(56, 113, 247);
}

.navbar > li {
    margin: .1em;
    padding: 0 .5em;
    border: 1px black dashed;
    border-radius: .5em;
    background: white;
}